body {
  background-color: white;
}

#map {
  margin-top: 10px;
  border: 2px black solid;
}

#table {
  margin-top: 10px;
  margin-left: 10px;
  background-color:floralwhite;
  width: 395px;
  height: 360px;
}

header {
  background-color: rgb(202, 50, 50);
  display: flex;
  color: white;
  border: 1px black solid;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  border-radius: 5px;
}

#refresh {
  position: absolute;
  left: 50px;
  bottom: 10px;
  font-weight: bold;
  height: 40px;
  width: 100px;
  border-radius: 10px;
}

#apply {
  margin: 0 auto;
  display: block;
  font-weight: bold;
  height: 40px;
  width: 100px;
  border-radius: 10px;
  margin-top: 10px;
}

.transition {
  display:flex;
  max-width: 100%;
  height: auto;
}

#ui {
  color: white;
  font-weight: bold;
  border: 1px black solid;
  background-color: rgb(202, 50, 50);
  position: absolute;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  right: 0;
  margin-top: 10px;
  margin-right: 8px;
  height: 400px;
  width: 200px;
}

.form_radio {
	margin-top: 4px;
}
.form_radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 10px;
	user-select: none;
}
.form_radio label:before {
	display: inline-block;
	width: 17px;
	height: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
}

#filter {
  margin-left: 5px;
}